* {
  transition: 200ms ease-out;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 24pt;
  color: rgb(245, 194, 231);
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match:selected {
  color: rgba(30, 30, 46, 1);
  background: rgba(171, 233, 179, 1);
  /* background: rgba(203, 166, 247, 1); */
}

#match:selected #match-title,
#match:selected #match-desc {
  color: rgba(30, 30, 46, 1);
}

#match {
  padding: 3px;
  border-radius: 5px;
}

#entry {
  border: none;
  box-shadow: none;
  border-style: none;
  padding: 10px;
}

box#main {
  background: rgba(30, 30, 46, 1);
  border: 1px solid #28283d;
  border-radius: 5px;
  padding: 20px;
}

row:first-child {
  margin-top: 6px;
}
